name: Stale

on:
  schedule:
    - cron: '30 0 * * *'
  workflow_dispatch:

permissions:
  issues: write
  pull-requests: write

concurrency:
  group: lock

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v5
        with:
          days-before-pr-stale: -1
          days-before-pr-close: -1
          days-before-issue-stale: 120
          days-before-issue-close: 14
          remove-stale-when-updated: true
          stale-issue-label: "stale"
          exempt-issue-labels: "not-stale"
          stale-issue-message: >
            This issue has been automatically marked as stale because it has not had
            recent activity. It will be closed if no further activity occurs. Thank you
            for your contributions.
